* {
    box-sizing: border-box;
}

html,body{
    margin:0
}

#fixed {
    position : fixed;
    top: 50px;
    right: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-center {
    margin:0 auto; 
    width: 1080px;
}

#header-search a{
    text-decoration: none;
}

#header-search h1 {
    width: 198px;
    height: 48px;
    display:inline-block;
    background: url(./sp_search.png) -4px -4px no-repeat;
    vertical-align: middle;
    position: relative;
    top: -6px;
}

#header-search h1 span {
    display: none;
}


#header-search fieldset {
    margin-left: 20px;
    padding: 12px 0px 12px 10px;
    width: 521px;
    height: 49;
    display:inline-block;
    border: 2px solid #03cf5d;
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input{
    border: none;
    padding: 0;
    outline: none;
    vertical-align: top;
    width: 405px;
    height: 23px;
}

#header-search fieldset button{
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;
    right: -2px;
    top: -2px;


}
#search-image {
    background: url(./sp_search.png);
    background-position: -3px -60px;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    display:inline-block;
    margin: 14px;
}