<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% for post in posts %}
        <div class="card post__container post-id-{{ post.id }}"></div>
            <h1> 제목 : {{ post.title }}</h1>
            <hr>
            <h4> 내용 :{{ post.content }}</h4>
            
            <section class="input">
                <input id="comment_input-{{post.id}}" placeholder="댓글 달기..." type="text"/>
                <button class="btn" onclick="onClickComment({{post.id}}, 'add')">게시</button>
            </section>

            <h4> 좋아요 {{ post.like }}</h4>
            <div class="post__like" onclick="onClickLike({{ post.id }} , 'like')">Like {{ post.like }}</div>
            <h4>댓글목록</h4>
            <hr>
            <div>
                <table id="comment-table-{{post.id}}">
                    {% for comment in comments %}
                    <tr id = "comment-{{comment.id}}">
                        <td>{{comment.content}}</td>
                        <td>
                            <button class="del-btn" onclick="onClickDel({{comment.id}})">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>            
    {% endfor %}
    
    
    
    <script>
        const requestComment = new XMLHttpRequest();
        const requestDel = new XMLHttpRequest();
        const requestLike = new XMLHttpRequest();

        // ------------------------------------------------------------댓글  

        const onClickComment = (id, type) => {
            const url = "add_comment/";
            const content = document.getElementById(`comment_input-${id}`).value
            requestComment.open("POST", url, true);
            requestComment.setRequestHeader(
                "Content-Type", 
                "application/x-www-form-urlencoded"
            );
            requestComment.send(JSON.stringify({id: id, type: type, "content": content}))
        }

        const onClickDel = (id) => {
            const url = "del_comment/";
            requestDel.open("POST", url, true);
            requestDel.setRequestHeader(
                "Content-Type", 
                "application/x-www-form-urlencoded"
            );
            requestDel.send(JSON.stringify({id: id}))
        }
        

        const addComment = () => {
            if (requestComment.status < 400){
                const {id, type, content, comment_id} = JSON.parse(requestComment.response)
                const element = document.querySelector(`#comment-table-${id}`)
                const new_comment = document.createElement("tr")
                const comment_content = document.createElement("td")        
                const del_btn = document.createElement("button")  
                comment_content.append(content)
                comment_content.setAttribute("id", `comment-${comment_id}`)
                del_btn.setAttribute("class", "del_btn")
                del_btn.setAttribute("onclick","onClickComment({{comment.id}}, 'del')")
                del_btn.innerHTML = "삭제"
                document.getElementById(`comment_input-${id}`).value = ''
                element.append(new_comment)
                new_comment.appendChild(comment_content)
                new_comment.appendChild(del_btn)
            }
        }

        const delComment = () => {
            if (requestComment.status < 400){
                const{id} = JSON.parse(requestDel.response)
                const element = document.querySelector(`#comment-${id}`)
                element.remove();

            }
        }


        requestComment.onreadystatechange = () => {
            if(requestComment.readyState === XMLHttpRequest.DONE){
                addComment();
            }
        }

        requestDel.onreadystatechange = () => {
            if(requestDel.readyState === XMLHttpRequest.DONE){
                delComment();
            }
        }


        // ------------------------------------------------------------좋아요  


        const onClickLike =(id, type) => {
            const url ="like/";
            requestLike.open("POST",url,true);
            requestLike.setRequestHeader(
                "Content-Type",
                "application/x-www-form-urlencoded"
            );
            requestLike.send(JSON.stringify({id:id,type:type}));
        };

        const likeHandleResponse = () => {
            if (requestLike.status < 400 ) {
                const {id,type} = JSON.parse(requestLike.response);
                const element = document.querySelector(`.post-id-${id} .post__${type}`);
                const originHTML = element.innerHTML;
                const [buttonType, num] = originHTML.split(' ');
                const count = Number(num) +1 ;

                element.innerHTML = `${buttonType} ${count}`;
            }
        };

        requestLike.onreadystatechange = () => {
            if (requestLike.readyState === XMLHttpRequest.DONE) {
                likeHandleResponse();
            }
        };
        
    </script>
</body>
</html>